@charset "utf-8";

body {
    font-size: 32px;

}
    h1 {
    text-align: center;

    background-color: cornflowerblue;
}

h2 {
    text-align: left;

    background-color: skyblue;
}



#menu > ul{
    list-style: none;
    padding-left: 0px;
}

#menu > ul > li {
    display: inline;
    margin: 0 16px 0 0;
    padding: 4px;
    border: 1px solid blue;
    border-radius: 4px;
    background: linear-gradient(#ffffff, skyblue);
}


input[type="submit"]{
    border: 1px solid #0086f9;
    border-radius: 4px;

    background: linear-gradient(0deg, #0086f9, #b6d6f7);
    color: #fff;
}

input[type="submit"]{
    border: 1px solid #0086f9;
    border-radius: 4px;

    background: linear-gradient(0deg, #0086f9, #b6d6f7);
    color: #fff;
}

input[type="submit"]{
    border: 1px solid #0086f9;
    border-radius: 4px;

    background: linear-gradient(0deg, #0086f9, #b6d6f7);
    color: #fff;
}