@charset "utf-8";

body {
    font-size: 32px;

}
    h1 {
    text-align: center;

    background-color: cornflowerblue;
}

h2 {
    text-align: left;

    background-color: skyblue;
}

table {
    border: 1px solid #000;
}

th{
    border: 1px double #000;
}

td{
    border: 1px dashed black;
}

div > ul > .blue {
    color: blue
}

h1:hover {
    background-color: cornsilk;
}


tr:nth-child(odd) {
    background-color:cornsilk;
}


tr:nth-child(even) {
    background-color: cornsilk;
}

tr:first-child {
    background-color:burlywood;
}

div {
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh9sBjLPFtWuL1Z8WA7_YPDb5gs01d8JU6sA&usqp=CAU);
    background-repeat: repeat;
    background-size: 1350px 800px;
    
}

#menu > ul{
    list-style: none;
    padding-left: 0px;
}

#menu > ul > li {
    display: inline;
    margin: 0 16px 0 0;
    padding: 4px;
    border: 1px solid blue;
    border-radius: 4px;
    background: linear-gradient(#ffffff, skyblue);
}